








  *{
   
    box-sizing: border-box;
    padding: 0;
    margin: 0;

  }
  .main{
    display:flex;
    justify-content: center;
    margin-bottom: 12%;
  }
  
  
  
  .card{
    background-color: antiquewhite;
    width: 400px;
    height: 620px;
    margin: 10px;
    justify-content: space-around;
    
    
  }

  .card-img{
    height: 330px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0 ;
  }
  .car-1{
    background-image: url('\Leonardo.webp');
  }

  .car-2{
    background-image: url('\Georgia.jpg');
  }

  .car-3{
    background-image: url('\VanGogh.webp');
  }

  .car-4{
    background-image: url('\VanGogh.webp');
  }
  .card p{
    
  }
