   main{
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.body{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.bllok{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    height: 600px;
    position: relative;
    width: 50%;
    text-align: center;
    background-color: rgb(223, 223, 222);
    
}
.titulli{
    font-size: xx-large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pershkrim{
    font-size: larger;
    font-weight: 300;
    font-style: italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25px;
}
.pershkrimi2{
    font-size: medium;
    font-weight: 100;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px;
}
.bllok img{
    width: 100%;
    flex-wrap:wrap-reverse;
    
}
.paragrafi-figures{
    position: absolute;
    bottom: 0;
    margin-bottom: 30%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.bllok:hover .paragrafi-figures {
    opacity: 1;
  }



.titulli2{
    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 15px;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(229, 232, 232);
}

.popularPost{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
}
.rubrika{
    
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 250px;
        margin-bottom: 30px;
        margin-left: 70px;
        
}

  .card {
    box-shadow: 9px 4px 10px 1px rgba(0, 0, 0, 0.2);
  }
 
  .title {
    color: grey;
  }