

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.KRYESOR {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}


.P1,
.P2,
.P3,
.P4,
.P5,
.P6,
.P7,
.P8,
.P9 {
    text-align: center; 
}


.img {
    width: 100%; 
    height: auto; 
    display: block;
}



















































































