





body{
    line-height: 1.5;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
*{
    margin: 0p;
    padding: 0;
    box-sizing: border-box;
}








.kryesor{
    max-width: 1170px;
   
    margin: auto;
}
.rreshti{
    display:flex;
    flex-wrap: wrap;
}
ul  {
    list-style: none;
    
}
li a{
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    color: blue;
    
    font-weight: 300;
    color: black;
    display: block;
    
}
.footer{
    background-color:#abadad;
    padding: 70px o;
}

.kolon{
width: 25%;
padding: 0 20px;
margin-top: 50px;

}

.footer h4{
    font-size: 18px;
    color:solid black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:darkred;
    height:2.5px;
    box-sizing: border-box;
    width: 50px;

}

.footer-kolon ul li:not(:last-child){
margin-bottom: 10px;
}


 ul li a:hover{
color: darkred;
padding-left: 8px;

}


 .linqet a{
    display: inline-block;
height: 40px;
width: 40px;
background-color: white(255,255,255,0.2);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color:black;
transition: all 0.5s ease;
    
    
    
}

.linqet a:hover{
    color: #24262b;
background-color: #ffffff;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid black;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




/*responsive*/
@media(max-width: 767px){
    .footer-kolon{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-kolon{
      width: 100%;
  }
  }
