*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: solid black;
}

footer{
    width:147;
    height: 80px;
    position: absolute;
    bottom: 0;
    background: black;
    color: white;
      font-style: normal;
      font-family: serif;
      font-size: 10px;
     line-height: 20px;
padding-left: 10px;   
}

.rreshti{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-content: space-between;

}

.kolon{
    flex-basis: 25%;
    padding: 10px;
}
