body {
    font-family: Arial, sans-serif;
}
.body{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 80%;
}
.section{
    margin-top: 80px;
    display: flexbox;
    flex-direction: column;
    position: relative;
    width: 25%;
    height: 70%;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:rgb(156, 209, 209);
    border-radius: 5px;
   
    padding: 20px;
    
}

.section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.section p {
    font-size: 16px;
    margin-bottom: 15px;
}

body button {
    background-color: rgb(203, 100, 74);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

body button:hover {
    background-color: rgb(247, 41, 41);
    color: white;
}